<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <title>Body Fat Estimator</title>
  </head>
  <body>
    <header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Pratik Abnave</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href="/" class="mr-5 hover:text-gray-900">Home</a>
      <!-- <a class="mr-5 hover:text-gray-900">About us</a> -->
      <a href="/prediction" class="mr-5 hover:text-gray-900">Prediction</a>
      <a href="/analysis" class="mr-5 hover:text-gray-900">Analysis</a>
    </nav>

  </div>
</header>
<!-- Alert -->
<div class="container my-4">
  <div class="alert alert-success" role="alert">
      <h4 class="alert-heading text-center">{{string}}</h4>
      <hr>
  </div>
</div>
<div class="container my-4">
  <div class="alert alert-success" role="alert">
      <h4 class="alert-heading text-center">Information Regarding BodyFat Estimation</h4>
      <hr>
      <p>
          <div class="markdown-converter__text--rendered">
              <h3>Context</h3>
              <p>Lists estimates of the percentage of body fat determined by underwater<br> weighing and various body circumference measurements for 252 men.</p>
              <h3>Educational use of the dataset</h3>
              <p>This data set can be used to illustrate multiple regression techniques. Accurate measurement of body fat is inconvenient/costly and it is desirable to have easy methods of estimating body fat that are not inconvenient/costly.</p>
              <h3>Content</h3>
              <p>The variables listed below, from left to right, are:</p>
              <ol>
                  <li>Density determined from underwater weighing</li>
                  <li>Percent body fat from Siri's (1956) equation</li>
                  <li>Age (years)</li>
                  <li>Weight (lbs)</li>
                  <li>Height (inches)</li>
                  <li>Neck circumference (cm)</li>
                  <li>Chest circumference (cm)</li>
                  <li>Abdomen 2 circumference (cm)</li>
                  <li>Hip circumference (cm)</li>
                  <li>Thigh circumference (cm)</li>
                  <li>Knee circumference (cm)</li>
                  <li>Ankle circumference (cm)</li>
                  <li>Biceps (extended) circumference (cm)</li>
                  <li>Forearm circumference (cm)</li>
                  <li>Wrist circumference (cm)</li>
              </ol>
              <p>(Measurement standards are apparently those listed in Benhke and Wilmore (1974), pp. 45-48 where, for instance, the abdomen 2 circumference is measured "laterally, at the level of the iliac crests, and anteriorly, at the umbilicus".)</p>
              <p>These data are used to produce the predictive equations for lean body weight given in the abstract "Generalized body composition prediction equation for men using simple measurement techniques", K.W. Penrose, A.G. Nelson, A.G. Fisher,
                  FACSM, Human Performance Research Center, Brigham Young University, Provo, Utah 84602 as listed in <em>Medicine and Science in Sports and
                      Exercise</em>, vol. 17, no. 2, April 1985, p. 189. (The predictive equation were obtained from the first 143 of the 252 cases that are listed below). </p>
              <h3>More details</h3>
              <p>A variety of popular health books suggest that the readers assess their health, at least in part, by estimating their percentage of body fat. In Bailey (1994), for instance, the reader can estimate body fat from tables using their
                  age and various skin-fold measurements obtained by using a caliper. Other texts give predictive equations for body fat using body circumference measurements (e.g. abdominal circumference) and/or skin-fold measurements. See, for
                  instance, Behnke and Wilmore (1974), pp. 66-67; Wilmore (1976), p. 247; or Katch and McArdle (1977), pp. 120-132).
              </p>
              <p>The percentage of body fat for an individual can be estimated once body density has been determined. Folks (e.g. Siri (1956)) assume that the body consists<br> of two components - lean body tissue and fat tissue. Letting:</p>
              <ul>
                  <li>D = Body Density (gm/cm^3)</li>
                  <li>A = proportion of lean body tissue</li>
                  <li>B = proportion of fat tissue (A+B=1)</li>
                  <li>a = density of lean body tissue (gm/cm^3)</li>
                  <li>b = density of fat tissue (gm/cm^3)</li>
              </ul>
              <p>we have:</p>
              <p>D = 1/[(A/a) + (B/b)]</p>
              <p>solving for B we find:</p>
              <p>B = (1/D)*[ab/(a-b)] - [b/(a-b)].</p>
              <p>Using the estimates a=1.10 gm/cm^3 and b=0.90 gm/cm^3 (see Katch and McArdle (1977), p. 111 or Wilmore (1976), p. 123) we come up with "Siri's equation":</p>
              <p>Percentage of Body Fat (i.e. 100*B) = 495/D - 450.</p>
              <p>Volume, and hence body density, can be accurately measured a variety of ways. The technique of underwater weighing "computes body volume as the difference between body weight measured in air and weight measured during water submersion.
                  In other words, body volume is equal to the loss of weight in<br> water with the appropriate temperature correction for the water's density" (Katch and McArdle (1977), p. 113). Using this technique,
              </p>
              <p>Body Density = WA/[(WA-WW)/c.f. - LV]</p>
              <p>where:</p>
              <ul>
                  <li>WA = Weight in air (kg)</li>
                  <li>WW = Weight in water (kg)</li>
                  <li>c.f. = Water correction factor (=1 at 39.2 deg F as one-gram of water occupies exactly one cm^3 at this temperature, =.997 at 76-78 deg F)</li>
                  <li>LV = Residual Lung Volume (liters)</li>
              </ul>
              <p>(Katch and McArdle (1977), p. 115). Other methods of determining body volume are given in Behnke and Wilmore (1974), p. 22 ff.</p>
              <h3>Source</h3>
              <p>The data were generously supplied by Dr. A. Garth Fisher who gave permission to freely distribute the data and use for non-commercial purposes. </p>
              <p>Roger W. Johnson<br> Department of Mathematics &amp; Computer Science<br> South Dakota School of Mines &amp; Technology<br> 501 East St. Joseph Street<br> Rapid City, SD 57701</p>
              <p>email address: <a rel="noreferrer nofollow" href="mailto:rwjohnso@silver.sdsmt.edu">rwjohnso@silver.sdsmt.edu</a><br> web address: <a rel="noreferrer nofollow" href="http://silver.sdsmt.edu/~rwjohnso">http://silver.sdsmt.edu/~rwjohnso</a></p>
              <h3>References</h3>
              <p>Bailey, Covert (1994). <em>Smart Exercise: Burning Fat, Getting Fit</em>, Houghton-Mifflin Co., Boston, pp. 179-186.</p>
              <p>Behnke, A.R. and Wilmore, J.H. (1974). <em>Evaluation and Regulation of Body Build and
                      Composition</em>, Prentice-Hall, Englewood Cliffs, N.J.</p>
              <p>Siri, W.E. (1956), "Gross composition of the body", in <em>Advances in Biological and Medical
                      Physics</em>, vol. IV, edited by J.H. Lawrence and C.A. Tobias, Academic Press, Inc., New York.
              </p>
              <p>Katch, Frank and McArdle, William (1977). <em>Nutrition, Weight Control, and Exercise</em>, Houghton Mifflin Co., Boston.</p>
              <p>Wilmore, Jack (1976). <em>Athletic Training and Physical Fitness: Physiological Principles of the
                      Conditioning Process</em>, Allyn and Bacon, Inc., Boston.</p>
          </div>
          <p>
  </div>
</div>

<div class="container">
  <p><b>{{inf}}</b></p>
  <a href="/">
      <div class="text-center">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go Back</button>
      </div>
  </a>
</div>

<footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Pratik Abnave</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">Github
        <a href="https://github.com/pratik9409/Customer_Churn_Prediction" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@pratik9409</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </footer>    
  
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
    -->
  </body>
</html>